version: "1.0.{build}"
image: Visual Studio 2017
branches:
  only:
    - master
init:
  - cmd: git config --global core.autocrlf true
install:
  - cmd: dotnet --version
  - cmd: dotnet tool install --global altcover.visualizer
  - cmd: cd aliyun-net-sdk-core.Tests/ && dotnet add package AltCover && cd ../
build_script:
  - cmd: dotnet restore
  - cmd: dotnet build
test_script:
  - dotnet build
  - IF /I "%ACCESS_KEY_ID%"=="" ( dotnet test --filter Category!=FeatureTest /p:AltCover=true ) ELSE ( dotnet test /p:AltCover=true )
on_finish:
  - cmd: cd aliyun-net-sdk-core.Tests
  - ps: |
      $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "coverage.xml" -c -F unittest
